svg text {
    font-size: 8px;
    paint-order: stroke fill;
    transform: scale(1, -1);
    stroke: #f4f5f7;
    stroke-width: 2;
  }
  svg .no-stroke {
    stroke: none;
    stroke-width: 2.5;
  }
  svg .line-label {
    font-size: 8px;
  }
  #my-svg-container {
    margin:10px auto;
    width: fit-content;
}