svg text {
    font-size: 8px;
    paint-order: stroke fill;
    transform: scale(1, -1);
    stroke: var(--content-background);
    stroke-width: 2;
}

svg .no-stroke {
    stroke: none;
    stroke-width: 2.5;
    font-weight: bold;
}

svg .line-label {
    font-size: 8px;
}

#my-svg-container {
    margin: 10px auto;
    width: fit-content;
}